<div *ngIf="user">
  <h2 class="center">Видео, опубликованные пользователем <span class="name">{{user.name}} {{user.surname}}</span>,
    печально известным
    как <span class="name">"{{user.username}}"</span></h2>
  <div class="center m-b-10" *ifAuthenticated='true'>
    <div *ngIf="getUserId() != user.id">
      <button *ngIf="!isSubscribed" mat-raised-button color="warn"
              (click)="subscribe()">ПОДПИСАТЬСЯ
      </button>
      <button *ngIf="isSubscribed" mat-raised-button color="primary"
              (click)="unsubscribe()">ОТПИСАТЬСЯ
      </button>
    </div>
  </div>


  <div class="list-video" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
       (scrolled)="onScroll()">
    <div *ngFor="let video of videos">
      <app-video-card [video]="video"></app-video-card>
    </div>
  </div>
</div>
