<mat-toolbar>
  <mat-toolbar-row>
    <span>IceTube</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>video_call</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
<!--    <a routerLink="/user" mat-raised-button>User</a>-->
<!--    <button mat-raised-button *ifRoles="['ROLE_USER']">User</button>-->
    <a routerLink="/user" mat-raised-button *ifRoles="['ROLE_USER']">User</a>
    <button mat-raised-button (click)="testUser()">Test User</button>
    <button mat-raised-button color="accent" (click)="proceedLogout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
