<mat-toolbar>
  <mat-toolbar-row>
    <!--    <button mat-icon-button (click)="toggleSidebar()">-->
    <!--      <mat-icon>menu</mat-icon>-->
    <!--    </button>-->
    <div class="menu-button" (click)="toggleSidebar()">
      <img class="menu-icon" src="assets/menu-icon.png" alt="menu_icon">
    </div>

    <a mat-button routerLink="/home" class="icetube"><span class="ice">Ice</span><span class="tube">Tube</span></a>

    <span class="example-spacer"></span>
<!--    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--      <img src="assets/profile-icon.png"  alt="profile-icon">-->
<!--    </button>-->
<!--    <mat-menu #menu="matMenu">-->
<!--      <button mat-menu-item *ifAuthenticated='false' routerLink="/login">-->
<!--        <div class="profile-menu-button">-->
<!--          <img src="assets/login-icon.png" class="icon" alt="login-icon">-->
<!--          <span>Войти</span>-->
<!--        </div>-->
<!--      </button>-->
<!--      <button mat-menu-item *ifAuthenticated='false' routerLink="/register">-->
<!--        <div class="profile-menu-button">-->
<!--          <img src="assets/register-icon.png" class="icon" alt="register-icon">-->
<!--          <span>Зарегистрироваться</span>-->
<!--        </div>-->
<!--      </button>-->
<!--      <button mat-menu-item *ifAuthenticated='true' (click)="proceedLogout()">-->
<!--        <div class="profile-menu-button">-->
<!--          <img src="assets/logout-icon.png" class="icon" alt="logout-icon">-->
<!--          <span>Выйти</span>-->
<!--        </div>-->

<!--      </button>-->
<!--    </mat-menu>-->

    <button mat-icon-button routerLink="/user">
      <img src="assets/profile-icon.png"  alt="profile-icon">
    </button>
  </mat-toolbar-row>
</mat-toolbar>
