.example-spacer {
  flex: 1 1 auto;
}

.menu-button {
  position: relative;
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /*background-color: #fff;*/
  /*border: 1px solid #ccc;*/
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/
  cursor: pointer;
  align-items: center;
  /*transition: background-color 0.3s ease-out;*/
}

.menu-button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.menu-button mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icetube {
  border-radius: 7px;
  font-size: 22px;
  background-color: azure;
  padding: 2px 12px;
}

.ice {
  color: dimgrey;
}

.tube {
  color: azure;
  border-radius: 7px;
  background-color: dimgrey;
}

.menu-icon {
  width: 28px;
}

.icon {
  width: 22px;
  margin-right: 8px;
}

.profile-menu-button {
  display: flex;
  align-items: center;
}
