.center {
  text-align: center;
  margin-top: 10px;
}

.m-5 {
  margin: 5px;
}

.list-video {
  display: flex;
  flex-wrap: wrap;;
  justify-content: center;
  gap: 10px;
}

.subs {
  padding: 0px 95px;
  margin-bottom: 30px;
}
