<div class="center">
  <div>
    <form [formGroup]="uploadVideoForm">
      <div>
      <mat-form-field appearance="fill">
        <mat-label>Название</mat-label>
        <input matInput [formControl]="title" required>
      </mat-form-field>
      </div>
      <div>
      <mat-form-field appearance="fill">
        <mat-label>Описание</mat-label>
        <textarea matInput [formControl]="description" required></textarea>
      </mat-form-field>
      </div>
      <div>
      <mat-form-field appearance="fill">
        <mat-label>Тип видео</mat-label>
        <mat-select required [formControl]="videoStatus">
          <mat-option value="PUBLIC">Общедоступное</mat-option>
          <mat-option value="PRIVATE">Частное</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <div>
        <mat-form-field class="" appearance="fill">
          <mat-label>Тэги</mat-label>
          <mat-chip-grid #chipGrid aria-label="Введите тэги">
            <mat-chip-row *ngFor="let tag of tags"
                          (removed)="remove(tag)"
                          [editable]="true"
                          (edited)="edit(tag, $event)"
                          [aria-description]="'нажмите enter чтобы редактировать ' + tag">
              {{tag}}
              <button matChipRemove [attr.aria-label]="'удилать ' + tag">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input placeholder="Добавить тэг..."
                   [matChipInputFor]="chipGrid"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)"/>
          </mat-chip-grid>
        </mat-form-field>
      </div>

      <div>
        <label for="previewFile">Добавить превью
        <div>
          <input type="file" accept="image/png, image/jpeg" id="previewFile" aria-describedby="previewFile"
          (change)="onImageSelected($event)"
          >
        </div>
          <br>
          <hr>
        </label>
      </div>

      <div>
        <label for="previewFile">Добавить видео
          <div>
            <input type="file"  accept="video/mp4" id="videoFile" aria-describedby="videoFile"
                   (change)="onVideoSelected($event)"
            >
          </div>
          <br>
          <!--          <div *ngIf="selectedVideoName">-->
          <!--            <p>Выбранное изображение: {{selectedVideoName}}</p>-->
          <!--          </div>-->
          <hr>
        </label>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary" (click)="uploadVideo()">Сохранить</button>
      </div>
    </form>
  </div>
<!--  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"-->
<!--                 (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">-->
<!--    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">-->
<!--      Перетащите сюда видеофайл или-->
<!--      <button type="button" (click)="openFileSelector()">Выберите файл</button>-->
<!--    </ng-template>-->
<!--  </ngx-file-drop>-->
<!--  <div class="upload-table">-->
<!--    <table class="table">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>Name</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody class="upload-name-style">-->
<!--      <tr *ngFor="let item of files; let i=index">-->
<!--        <td><strong>{{ item.relativePath }}</strong></td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->

<!--  <button mat-button (click)="uploadVideo()" *ngIf="fileUploaded">Загрузить</button>-->
  <app-video-player [streamUrl]="streamUrl"></app-video-player>
</div>
