.comments {
  padding-top: 10px;
}

.title {
  font-size: 24px;
}

.description {
  font-size: 20px;
  color: dimgrey;
}

.m-t-10 {
  margin-top: 10px;
}

.grade-section {
  display: flex;
}

.grade-button {
  font-size: 22px;
  border: 1px solid lightgrey;
}

.grade-icon {
  font-size: 24px;
  padding-right: 7px;
  padding-bottom: 5px;
}

.grade-center {
  display: flex;
  align-items: center;
}

.like-button {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.dislike-button {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

@media (min-width: 1280px) {
  .video-container {
    width: 960px;
    height: 540px;
  }
}

.icon {
  width: 24px;
  margin-right: 5px;
}
