<mat-card>
  <mat-card-header>
    <app-video-player class="video-container" *ngIf="videoAvailable" [streamUrl]="streamUrl"
                      [previewUrl]="previewUrl" [videoResolution]="videoResolution"></app-video-player>
  </mat-card-header>
  <mat-card-content class="m-t-10">
    <p class="title">{{title}}</p>
    <mat-card-subtitle class="link pointer" routerLink="/video/publishedby/{{authorId}}">
      Автор: {{authorName}}</mat-card-subtitle>
    <p class="description">{{description}}</p>
    <div class="grade-section" *ifAuthenticated='true'>
      <button mat-button (click)="likeVideo()" class="grade-button like-button">
        <div class="grade-center">
          <img src="assets/like-icon.png" class="icon" alt="like-icon">
          <span>{{likes}}</span>
        </div>
      </button>
      <button mat-button (click)="dislikeVideo()" class="grade-button dislike-button">
        <div class="grade-center">
          <img src="assets/dislike-icon.png" class="icon" alt="dislike-icon">
          <span>{{dislikes}}</span>
        </div>
      </button>
    </div>
    <p class="description">Просмотров: {{viewCount}}</p>
    <div *ifAuthenticated='true'>
      <div *ngIf="getUserId() != authorId">
        <button *ngIf="!isSubscribedToAuthor" mat-raised-button color="warn"
                (click)="subscribe()">ПОДПИСАТЬСЯ
        </button>
        <button *ngIf="isSubscribedToAuthor" mat-raised-button color="primary"
                (click)="unsubscribe()">ОТПИСАТЬСЯ
        </button>
      </div>
    </div>
    <button mat-raised-button [matMenuTriggerFor]="menu" class="m-t-10">
      <div class="download-button">
        <img src="assets/download-icon.png" class="icon" alt="download-icon">
        <span class="download-text">Скачать</span>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <div *ngFor="let link of downloadLinks">
        <a mat-menu-item [href]="link[1]" [text]="link[0] + 'p'"></a>
      </div>
    </mat-menu>

    <div *ngIf="isAuthor" class="m-t-10">
      <hr/>
      <h2>Вы - автор этого видео</h2>
      <button mat-raised-button color="warn" (click)="deleteVideo()">Удалить</button>
    </div>

    <hr>
    <mat-chip-listbox>
      <mat-chip *ngFor="let tag of tags" (click)="onTagClick(tag)">
        {{tag}}
      </mat-chip>
    </mat-chip-listbox>
    <div class="comments">
      <app-comments *ngIf="videoAvailable" [videoId]="videoId"></app-comments>
    </div>
  </mat-card-content>

</mat-card>
