<mat-list>
  <mat-list-item routerLink="/home" routerLinkActive="active-link" (click)="toggleSidebar()">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </mat-list-item>
  <mat-list-item routerLink="/upload-video" routerLinkActive="active-link" (click)="toggleSidebar()">
    <mat-icon>video_call</mat-icon>
    <span>Загрузить видео</span>
  </mat-list-item>
  <mat-list-item routerLink="/register" routerLinkActive="active-link" (click)="toggleSidebar()"> Регистрация
  </mat-list-item>
</mat-list>
