<mat-list>
  <mat-list-item routerLink="/home" routerLinkActive="active-link" (click)="toggleSidebar()">
    <div class="list-item">
      <img src="../../../assets/home-icon.png" class="sidenav-icon" alt="home-icon">
      <span>Главная</span>
    </div>

  </mat-list-item>
  <mat-list-item routerLink="/upload-video" routerLinkActive="active-link" (click)="toggleSidebar()"
                 *ifAuthenticated='true'>
    <div class="list-item">
      <img src="../../../assets/plus-icon.png" class="sidenav-icon" alt="home-icon">
      <span>Загрузить видео</span>
    </div>
  </mat-list-item>

  <mat-list-item routerLink="/user/subscriptions" routerLinkActive="active-link" (click)="toggleSidebar()"
                 *ifAuthenticated='true'>
    <div class="list-item">
      <img src="../../../assets/subscriptions-icon.png" class="sidenav-icon" alt="home-icon">
      <span>Подписки</span>
    </div>
  </mat-list-item>

  <mat-list-item routerLink="/video/history" routerLinkActive="active-link" (click)="toggleSidebar()"
                 *ifAuthenticated='true'>
    <div class="list-item">
      <img src="../../../assets/history-icon.png" class="sidenav-icon" alt="home-icon">
      <span>История просмотров</span>
    </div>
  </mat-list-item>

  <mat-list-item routerLink="/user/likedvideos" routerLinkActive="active-link" (click)="toggleSidebar()"
                 *ifAuthenticated='true'>
    <div class="list-item">
      <img src="../../../assets/like-icon.png" class="sidenav-icon" alt="home-icon">
      <span>Понравившиеся видео</span>
    </div>
  </mat-list-item>
</mat-list>
