/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
  height: 100%;
}

body {
  --color-button: #0D606F;
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
}

.link {
  font-size: 18px;
  color: steelblue;
}

@media (max-width: 600px) {
  .plyr__controls .plyr__volume {
    display: none;
  }
}

.body {
  position: relative;
}

.pointer {
  cursor: pointer;
}
html.sidebar-opened {
  overflow: hidden;
}
