<h2>Комментарии</h2>
<form [formGroup]="commentForm">
  <div *ifAuthenticated='true'>
    <mat-form-field  class="new-comment" subscriptSizing="dynamic">
      <mat-label>Поделитесь своим авторитетным мнением</mat-label>
      <textarea matInput formControlName="text" cdkTextareaAutosize></textarea>
      <mat-error *ngIf="commentForm.get('text')?.hasError('required')">
        К сожалению, это поле должно быть заполнено
      </mat-error>
    </mat-form-field>
    <button type="submit" class="comment-button" mat-raised-button (click)="postComment()">ПРОКОММЕНТИРОВАТЬ</button>
  </div>
</form>
<div *ngFor="let comment of comments">
  <mat-card class="comment-card">
      <p><span class="username">{{comment.username}}</span> - {{comment.createdAt | date:'medium'}}</p>
      <p>{{comment.text}}</p>
  </mat-card>
</div>
