<mat-card>
  <mat-card-header>
    <h2>Регистрация</h2>
  </mat-card-header>
  <mat-card-content>
    <form class="form" [formGroup]="registrationForm">
      <div>
        <mat-form-field class="full-width" subscriptSizing="dynamic">
          <mat-label>Логин</mat-label>
          <input matInput formControlName="username" name="username">
          <mat-error *ngIf="registrationForm.get('username')?.hasError('required')">Заполните это поле</mat-error>
          <mat-error *ngIf="registrationForm.get('username')?.hasError('minlength')">Минимум 4 символа</mat-error>
          <mat-error *ngIf="registrationForm.get('username')?.hasError('maxlength')">Максимум 30 символов</mat-error>
          <mat-error *ngIf="registrationForm.get('username')?.hasError('pattern')">Только буквы латинского алфавита и
            цифры
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" subscriptSizing="dynamic">
          <mat-label>Имя</mat-label>
          <input matInput formControlName="name" autocomplete="off">
          <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">Заполните это поле</mat-error>
          <mat-error *ngIf="registrationForm.get('name')?.hasError('minlength')">Минимум 4 символа</mat-error>
          <mat-error *ngIf="registrationForm.get('name')?.hasError('maxlength')">Максимум 30 символов</mat-error>
          <mat-error *ngIf="registrationForm.get('name')?.hasError('pattern')">Только латинские и кириллические буквы
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" subscriptSizing="dynamic">
          <mat-label>Фамилия</mat-label>
          <input matInput formControlName="surname" autocomplete="off">
          <mat-error *ngIf="registrationForm.get('surname')?.hasError('required')">Заполните это поле</mat-error>
          <mat-error *ngIf="registrationForm.get('surname')?.hasError('minlength')">Минимум 4 символа</mat-error>
          <mat-error *ngIf="registrationForm.get('surname')?.hasError('maxlength')">Максимум 30 символов</mat-error>
          <mat-error *ngIf="registrationForm.get('surname')?.hasError('pattern')">Только латинские и кириллические буквы
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" subscriptSizing="dynamic">
          <mat-label>Пароль</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" name="password">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">Заполните это поле</mat-error>
          <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">Минимум 4 символа</mat-error>
          <mat-error *ngIf="registrationForm.get('password')?.hasError('maxlength')">Максимум 30 символов</mat-error>
          <mat-error *ngIf="registrationForm.get('password')?.hasError('pattern')">Не используйте пробелы</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary" (click)="proceedRegistration()">
          Зарегистрироваться
        </button>
      </div>
    </form>
    <div class="full-width m-t-5">Уже есть аккаунт?
      <a routerLink="/login" mat-button color="primary">Войти</a>
    </div>
  </mat-card-content>
</mat-card>
