<!--<plyr class="video-player" plyrTitle="Video 1" [plyrPlaysInline]="true" class="rounded"-->
<!--      [plyrSources]="[{src: streamUrl, type: 'video/mp4'}]"-->
<!--      [plyrTracks]="[{kind: 'captions', label: 'Russian', src: '../../assets/002.vtt', default: true}]"-->
<!--      [plyrOptions]="{controls: ['play-large',  'pause-large', 'play', 'current-time', 'progress', 'duration', 'mute', 'volume', 'captions', 'pip', 'airplay', 'settings', 'fullscreen']}"-->

<!--      [plyrPoster]="previewUrl"-->
<!--      (plyrInit)="player = $event" (plyrPlay)="played($event)"></plyr>-->
<plyr class="video-player" plyrTitle="icetube video" [plyrPlaysInline]="true" class="rounded"
      [plyrSources]="[{src: streamUrl, type: 'video/mp4'}]"
      [plyrOptions]="{controls: ['play-large',  'pause-large', 'play', 'current-time', 'progress', 'duration', 'mute', 'volume', 'captions', 'pip', 'airplay', 'settings', 'fullscreen']}"
      [plyrPoster]="previewUrl"
      (plyrInit)="player = $event" (plyrPlay)="played($event)"></plyr>

